* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
}

.main-wrapper{
  min-height: 100%;
  padding-top: 60px;
  position: relative;
}

.user-container{
  position: relative;
  left: 0;
  margin-left: 264px;
  min-height: 100% !important;
  width: 100%;
  padding: 40px 40px 10px 40px;
}

.view-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
