* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.form-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(71, 71, 71);
  width: 100%;
  height: 100%;
  background: #dde2e6;
  border: 1px solid #afb3b6;
}

.form-header i {
  font-size: 2rem;
}

form {
  background-color: #f3f5f4;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
}

.icon .bi .bi-person-circle {
  color: black;
}

.login-footer {
  font-size: 1rem;
  position: absolute;
  right: 23px;
  margin-top: -10px;
  font-size: 0.8rem;
}
